.note-list {
  padding-bottom: 20px;
  &__header {
    height: 55px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    border-radius: 10px;
  }
  &__items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  &__header-sort {
    justify-self: end;
  }
}

@media screen and (max-width: 1000px) {
  .note-list {
    &__header {
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: auto;
    }
  }
}
